<!DOCTYPE html>
<html lang=en xmlns=http://www.w3.org/1999/xhtml
      style="text-align:center!important;margin:auto!important;width:100%;font-family:arial,'helvetica neue',helvetica,sans-serif"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset=UTF-8/>
    <meta content="width=device-width, initial-scale=1" name=viewport/>
    <title>E-Commerce</title>
    <style>.fa {
            font-size: 25px;
            width: 25px;
            padding: 10px;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
            color: white
        }

        .fa:hover {
            opacity: .8
        }

        .fa-facebook {
            background: #3b5998
        }

        .fa-twitter {
            background: #55acee
        }

        .fa-youtube {
            background: #b00
        }

        .fa-instagram {
            background: #125688
        }</style>
</head>
<body>
<header style=text-align:center;>
    <img src=https://lh3.googleusercontent.com/-RJauRBZiaJQ/X3kkj9FmmqI/AAAAAAAAAAs/x-_7k9uCmjkvgC0vEsT37ECb-mWLgGwtQCEwYBhgLKtQDAL1OcqwboR6DAFCsx1JY8Yj4RmEbLtqUtBO28srq5UOe72ypchiWwxU2BLZ7Q44HYfX6Rmf_r3UhImhyMILgHIXE996SSiQO2MF8jaUMbdLj0RDDFBV6F4C4Qfwjrw6k0wQqwwHcjgJUHc0Hbxz7glxNWRVOK7OhE-m0HW-wXrJJaEdkA2BHR7qF74M1UXw5DOyPyHNFcZFpogdtWRE9_flV2q5HI6ym3PmokuSNxf_HIh8Ro8arIED6KTZZxIvBWkPATggVAXj3fwza3Zt4etUYCkMULhxzSi0rPhSmt6mPzCwKcK17vcibVbHvBK_mVXsPRHHpUMm6oWHW-ZoHOfktp0fBvWNmcZet3rE9_59wraybR22tnZNXgalnAJuuzFKZ6Sx6jpRAqvpShe199kCvqNgpCoLNWalPoDoBVNJRrJBuMvx8TZYCTe4QV3-C60gua7fEyD_jjQ7CaJnb0L5uVg6jPav9BvgosZ2e4pqKwXGcRG8kbrRhSa3yKFyayT1mAMpEv2aKdnxbl8Oqomh0OhnUDDj_4SrwNG1_kfphDYXwHXlnYgArQCiekMjwakip3nG1Us_knG9viM2wcFBOyFI5fNT_ykPMpmVwJ97n0NSaMPDU6PsF/w140-h140-p/1%2B%25283%2529.ico
         alt=logo width="150 " style=margin-top:35px/>
    <h2 style=font-weight:normal;color:#333>
        You requested to reset your password
    </h2>
    <a href=<%= resetPasswordLink %> target=_blank
       style="text-decoration:none;color:#efefef;border-style:solid;border-color:#26c0c6;border-width:8px 25px 8px 25px;display:inline-block;background:#26c0c6;border-radius:20px;text-align:center;margin-bottom:35px">Reset
        Password</a>
    <h2 style=font-weight:normal;color:#333>
        Code: <%= code %>
    </h2>

</header>
<footer style=text-align:center;padding:12px;background-color:#f7f7f7;color:white;padding:15px>
    <h3 style=font-weight:normal;color:#333>Let's get social</h3>
    <a href=#><img src="https://i.imgur.com/ydVTVtc.png" class="fa fa-facebook"></a>
    <a href=#><img src="https://i.imgur.com/fqD18Z2.png" class="fa fa fa-twitter"></a>
    <a href=#><img src="https://i.imgur.com/N5wr3jr.png" class="fa fa-youtube"></a>
    <a href=#><img src="https://i.imgur.com/DfNI2LZ.png" class="fa fa-instagram"></a>
    <p style=font-size:14px;line-height:21px;color:#333>
        You are receiving this email because you have visited our site
    </p>
</footer>
</body>
</html>